<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Account | Pentas Mod 2023 by Turu Champ</title>
</head>
<body>
    <center>
        <h2>
            LOGOUT ACCOUNT NYANGKUT
        </h2>
        <br>
        <p>
            masukin nisn lu yg errornya "akun sudah login di perangkat lain"
        </p>
        <form action="" method="post" style="margin-top: 50px;">
            <p>
                <input type="number" name="nisn" placeholder="masukin nisn akun lu dimari">
            </p>
            <br>
            <input type="submit" value="cuss logout ngentoooodd">
        </form>

        <div style="margin-top: 55px;">
            <p>
                <a href="/pentas" style="text-decoration: none;">mau login? klik disini nyet!</a>
            </p>
        </div>
    </center>

    <% if (reason !== null) { %>
        <script>
            alert("<%= reason %>")
        </script>
    <% } %>
</body>
</html>